<template name="terms">
  
<div id="terms">
  
  <h2>Terms of Service</h2>
  
  <p>By using the whatwhenapp.com web site (“Service”), a service of Well Rounded Gent, LLC (“Well Rounded Gent”), you are agreeing to be bound by the following terms and conditions (“Terms of Service”).</p>
  
  <p>Well Rounded Gent reserves the right to update and change the Terms of Service from time to time without notice. Any new features that augment or enhance the current Service, including the release of new tools and resources, shall be subject to the Terms of Service. Continued use of the Service after any such changes shall constitute your consent to such changes. You can review the most current version of the Terms of Service at any time at: http://whatwhenapp.com/terms.</p>
  
  <p>Violation of any of the terms below will result in the termination of your Account. While Well Rounded Gent prohibits such conduct and Content on the Service, you understand and agree that Well Rounded Gent cannot be responsible for the Content posted on the Service and you nonetheless may be exposed to such materials. You agree to use the Service at your own risk.</p>
  
  <h3>Account Terms</h3>
  
  <p>You must be 13 years or older to use this Service.</p>
  
  <p>You must be a human. Accounts registered by “bots” or other automated methods are not permitted.</p>
  
  <p>You must provide your legal full name, a valid email address, and any other information requested in order to complete the signup process.</p>
  
  <p>Your login may only be used by one person – a single login shared by multiple people is not permitted. You may create separate logins for as many people as you'd like.</p>
  
  <p>You are responsible for maintaining the security of your account and password. Well Rounded Gent cannot and will not be liable for any loss or damage from your failure to comply with this security obligation.</p>
  
  <p>You are responsible for all Content posted and activity that occurs under your account (even when Content is posted by others who have accounts under your account).</p>
  
  <p>You may not use the Service for any illegal or unauthorized purpose. You must not, in the use of the Service, violate any laws in your jurisdiction (including but not limited to copyright laws).</p>
  
  
  <h3>General Terms</h3>
  
  <p>You expressly understand and agree that Well Rounded Gent shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Well Rounded Gent has been advised of the possibility of such damages), resulting from your use of the Service.</p>
  
  <p>Well Rounded Gent reserves the right at any time to modify or discontinue, temporarily or permanently, your access to the Service (or any part thereof) with or without notice.</p>
  
  <p>Well Rounded Gent will make a reasonable attempt via email to warn the account owner prior to suspension.</p>
  
  
  <h3>Account Cancellation and Termination</h3>
  
  <p>You are solely responsible for properly canceling your account. An email or phone request to cancel your account is not considered cancellation. You can cancel your account at any time by hovering over your name and clicking the settings link in the global navigation bar at the top of the screen. The Account Settings screen provides a simple no questions asked delete account link.</p>
  
  <p>All of your Content will be immediately deleted from the Service upon cancellation. This information can not be recovered once your account is cancelled.</p>
  
  <p>Well Rounded Gent, in its sole discretion, has the right to suspend or terminate your account and refuse any and all current or future use of the Service, or any other Well Rounded Gent service, for any reason at any time. Such termination of the Service will result in the deactivation or deletion of your Account or your access to your Account, and the forfeiture and relinquishment of all Content in your Account. Well Rounded Gent reserves the right to refuse service to anyone for any reason at any time.</p>
  
  
  <h3>Modifications to the Service and Prices</h3>
  
  <p>Well Rounded Gent is offering the Service to you free of charge. Well Rounded Gent reserves the right at any time to change the pricing of the Service with a 30 day notice either sent by email or posted to http://whatwhenapp.com.</p>
  
  <p>Well Rounded Gent reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the Service (or any part thereof) with or without notice.</p>
  
  <p>Well Rounded Gent shall not be liable to you or to any third party for any modification, price change, suspension or discontinuance of the Service.</p>
  
  
  <h3>Copyright and Content Ownership</h3>
  
  <p>All content posted on the Service is must comply with U.S. copyright law.</p>
  
  <p>We claim no intellectual property rights over the material you provide to the Service. Your profile and materials uploaded remain yours.
  Well Rounded Gent does not pre-screen Content, but Well Rounded Gent and its designee have the right (but not the obligation) in their sole discretion to refuse or remove any Content that is available via the Service.</p>
  
  <p>The look and feel of the Service is copyright©2013 Well Rounded Gent, LLC. All rights reserved. You may not duplicate, copy, or reuse any portion of the HTML/CSS or visual design elements without express written permission from Well Rounded Gent.</p>
  
  
  <h3>General Conditions</h3>
  
  <p>Your use of the Service is at your sole risk. The service is provided on an “as is” and “as available” basis.</p>
  
  <p>Technical support is only available via email.</p>
  
  <p>You understand that Well Rounded Gent uses third party vendors and hosting partners to provide the necessary hardware, software, networking, storage, and related technology required to run the Service.</p>
  
  <p>You must not modify, adapt or hack the Service or modify another website so as to falsely imply that it is associated with the Service, Well Rounded Gent, or any other Well Rounded Gent service.</p>
  
  <p>You agree not to reproduce, duplicate, copy, sell, resell or exploit any portion of the Service, use of the Service, or access to the Service without the express written permission by Well Rounded Gent.</p>
  
  <p>We may, but have no obligation to, remove Content and Accounts containing Content that we determine in our sole discretion are unlawful, offensive, threatening, libelous, defamatory, pornographic, obscene or otherwise objectionable or violates any party’s intellectual property or these Terms of Service.</p>
  
  <p>Verbal, physical, written or other abuse (including threats of abuse or retribution) of any Well Rounded Gent customer, employee, member, or officer will result in immediate account termination.</p>
  
  <p>You understand that the technical processing and transmission of the Service, including your Content, may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.</p>
  
  <p>You must not transmit any worms or viruses or any code of a destructive nature.</p>
  
  <p>Well Rounded Gent does not warrant that (i) the service will meet your specific requirements, (ii) the service will be uninterrupted, timely, secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable, (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service will meet your expectations, and (v) any errors in the Service will be corrected.</p>
  
  <p>You expressly understand and agree that Well Rounded Gent shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other intangible losses (even if Well Rounded Gent has been advised of the possibility of such damages), resulting from: (i) the use or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods, data, information or services purchased or obtained or messages received or transactions entered into through or from the service; (iii) unauthorized access to or alteration of your transmissions or data; (iv) statements or conduct of any third party on the service; (v) or any other matter relating to the service.</p>
  
  <p>The failure of Well Rounded Gent to exercise or enforce any right or provision of the Terms of Service shall not constitute a waiver of such right or provision. The Terms of Service constitutes the entire agreement between you and Well Rounded Gent and govern your use of the Service, superceding any prior agreements between you and Well Rounded Gent (including, but not limited to, any prior versions of the Terms of Service).</p>
  
  <p>Questions about the Terms of Service should be sent to help at whatwhenapp dot com.</p>
  
  <p style="margin-top: 30px;">Modified from the <a href="http://basecamp.com/terms">37signals Basecamp Terms of Service</a>.</p>

  <p style="margin-top: 30px;">Last updated on Monday, June 3rd, 2013.</p>

</div> <!-- end .terms -->
  
</template>