.page-header {
  margin-bottom: 40px;
  @include clearfix;
  
  .page-title {
    display: inline-block;
    float: left;
    margin-top: 4px;
  }
  
  .page-action {
    display: inline-block;
    float: right;
    width: auto;
  }
  
  p { margin-top: 15px; }
  
}

.tabs {
  @include clearfix;
  border-bottom: 1px solid lighten($tertiary, 40%);
  
  li { float: left; }
  
  a { 
    color: $primary; 
    padding: 7px 15px;
    text-decoration: none;
    display: inline-block;
    border: 1px solid transparent;
    margin-bottom: -1px;
    @include border-radius(3px 3px 0px 0px);
    
    &:hover { text-decoration: underline; }
    
  }
  
  li.active a {
    border: 1px solid lighten($tertiary, 40%);
    border-bottom: 1px solid #fff;
    
    &:hover { text-decoration: none; }
    
  }
  
}

.pills {
  
  li { 
    float: left; 
    margin-right: 10px;
  }
  
  a { 
    color: $primary; 
    padding: 3px 10px; 
    @include border-radius(3px); 
    text-decoration: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    font-size: 0.875em;
    
    &:hover { text-decoration: underline; }
    
  }
  
  .active a {  
    background: $primary;
    color: #fff;
    
    &:hover { text-decoration: none; }
    
  }
    
}

.item-list-header {
  @include clearfix;
  margin-bottom: 30px;
  
  h3 { float: left; margin: 0px 0 0 0; }
  
  .btn { float: right; }
  
}

.help-text { 
  font-size: 0.875em; 
  a { color: #888; }
  
}

.tab-header {
  margin-bottom: 40px;
}

.edit-remove {
  
  .edit, .remove {
    float: left;
    color: #888;
    
    &:hover {
      color: #333;
      cursor: pointer;
    }
    
  }
  
  .edit {
    padding: 2px 8px 0 0;
    margin-right: 8px;
    border-right: 1px solid #ccc;
    font-size: 0.875em;
  }
  
  .remove {
    display: inline-block;
    padding-top: 5px;
  }
  
} /* .edit-remove */