.task-table {
  width: 100%;
  margin: 20px 0 30px;
  
  thead {
    border-bottom: 1px solid lighten($tertiary, 40%);
  }
  
  th { text-align: left; padding-bottom: 10px; }
  
  td { 
    padding-bottom: 10px; 
  }
  
  td:first-child { width: 84%; }
  
  td:last-child { width: 16%; }
  
  tr:first-child {
        
    td { padding: 10px 0; }
    
  }
  
}