.content-block {
  margin-bottom: 50px;
  
  .block-title {
    margin-bottom: 15px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 18px;
  }
  
  .block-body {
    
    p { margin-bottom: 15px; }

  }

}

#content {
  margin-top: 53px;
  float: left;
  width: 70%;
  margin-left: 5%;
}