<template name="home">

  <header id="masthead">
    <h1>Tidy timelines for freelancers.</h1>
    <h4>Keep your clients in the loop and your projects <em>on schedule</em>.</h4>
  </header>
  
  <section class="create-wrap">
    
    <div class="create">
      <div class="create-one">
          <a href="{{signupPath}}" class="btn black inline home-signup-create">Signup &amp; Create a Timeline</a>
          <p class="small dim veruca-complain">You'll get <strong>five</strong> free timelines.</p>
      </div>
      <div class="example">
        <p>See what your clients will see:</p>
        <a href="http://whatwhenapp.com/timelines/example/view" target="_blank" class="example-link home-view-example-timeline">View an example timeline</a>
      </div>
    </div> <!-- end .create -->
    
  </section> <!-- end .video-create --> 
  
  <section class="what-do">
    
    <header class="section-header">
      <h4>How can WhatWhen help me?</h4>
    </header>
    
    <ul class="the-jobs">
      <li>
        <h6>Juggling schedules for multiple clients is <strong><em>hard</em></strong></h6>
        <p>When you have more than a few clients, keeping things on track can get messy. You forget meetings, miss deadlines, and give your business a bad image. WhatWhen helps you organize your project's schedule to keep you on track and clients up to date.</p>
      </li>
      <li>
        <h6>More clients = <em>less focus</em></h6>
        <p>As your clientele grows, so will your calendar. Having a never ending date book can get overwhelming <em>fast</em>. WhatWhen keeps your projects separate so you can stay focused on one client at a time.</p>
      </li>
      <li>
        <h6>Keeping your client's team up to date is tough</h6>
        <p>Keeping your client and their team in sync with your project is a job unto itself. WhatWhen can send your timeline to everyone on the team <strong>once</strong> and they'll see all of your updates in real time.</p>
      </li>
      <li>
        <h6>Happy clients means a <em>happier you</em></h6>
        <p>Clients in the know tend to leave you alone. Using WhatWhen to manage your schedule means you can spend less time babysitting and more time getting your work done.</p>
      </li>
    </ul>
    
  </section> <!-- end .what-do -->
  
  <section class="final-cta">
    <p>Sound useful? Great! Signup and create your first timeline now.</p>
    <a href="{{signupPath}}" class="btn black inline home-final-cta">Signup for WhatWhen</a>
  </section>

</template>