#app-messages {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgb(255,255,255);
  z-index: 1000;
  text-align: center;
  padding-top: 100px;
  
  .supplemental {
    margin-top: 20px;
    font-size: 0.85em;
  }
  
  .message {
    padding: 5px 15px;
  }

  
  
}

.heads-up {
  @include clearfix;
  display: block;
  background: #eee;
  padding: 5px 0;
  
  p { font-size: 0.875em; }
  
}